<%- include('./header'); %>
<%- include('./sidebar'); %>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Wszyscy użytkownicy
            </div>
            <a href="/admin/dodaj" class="btn btn-info">
                Dodaj nowego
            </a>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Imię oraz nazwisko</th>
                            <th>Email</th>
                            <th>Data dodania</th>
                            <th>Data edycji</th>
                            <th>Modyfikacje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <td>
                                    <%= user.firstName %> <%= user.lastName %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= moment(user.createdAt).format('Do MMMM, YYYY') %>
                                </td>
                                <td>
                                    <%= moment(user.updatedAt).format('Do MMMM, YYYY') %>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-success dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Opcje
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item"
                                               href="/admin/user/<%= user.id %>">
                                                Detale
                                            </a>
                                            <a class="dropdown-item"
                                               href="/admin/user/<%= user.id %>/edit">
                                                Edycja
                                            </a>
                                            <form method="post" action="/admin/user/<%= user.id %>/delete">
                                                <input type="hidden" name="id" value="<%= user.id %>">
                                                <button type="submit" class="dropdown-item">
                                                    Usuń
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Visit at <%= moment(Date.now()).format('Do MMMM, YYYY') %></div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->

<%- include('./footer'); %>
