<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/role">
            <i class="fab fa-critical-role"></i>
            <span>Role</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Register</a>
            <a class="dropdown-item" href="#">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="#">404 Page</a>
            <a class="dropdown-item" href="#">Blank Page</a>
        </div>
    </li>
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link" href="#">-->
    <!--            <i class="fas fa-fw fa-chart-area"></i>-->
    <!--            <span>Charts</span></a>-->
    <!--    </li>-->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link" href="#">-->
    <!--            <i class="fas fa-fw fa-table"></i>-->
    <!--            <span>Tables</span></a>-->
    <!--    </li>-->
</ul>
