<%- include('../header'); %>
<%- include('../sidebar'); %>

<%# tworzę tu formularz w htmlu celem przesłania na adres /product metodą post, ważne są name gdyż po nich identyfikuję wartości %>

<form method="post" action="/admin/role">

	<select class="form-control mt-1" name="name">
		<option value="ROLE_ADMIN">ADMIN</option>
		<option value="ROLE_SUBSCRIBER">SUBSCRIBER</option>
		<option value="ROLE_CLIENT">CLIENT</option>
	</select>

	<%# button typu submit realizuje wysyłkę formularza %>
	<button class="btn btn-success mt-1" type="submit">Wyślij</button>
	<a href="/admin/role" class="btn btn-primary mt-1">< Powrót</a>

</form>

<%- include('../footer'); %>
