<%- include('../header'); %>
<%- include('../sidebar'); %>

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Role
            </div>
            <% if (typeof showButton !== 'undefined' && showButton === true) { %>
                <a href="/admin/role/create" class="btn btn-info">
                    Dodaj nową
                </a>
            <% } %>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nazwy</th>
                            <th>Data dodania</th>
                            <th>Data edycji</th>
                            <th>Modyfikacje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% roles.forEach(role => { %>
                            <tr>
                                <td>
                                    <%= role.name %>
                                </td>
                                <td>
                                    <%= moment(role.createdAt).format('Do MMMM, YYYY') %>
                                </td>
                                <td>
                                    <%= moment(role.updatedAt).format('Do MMMM, YYYY') %>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-success dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Opcje
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item"
                                               href="/admin/role/<%= role.id %>">
                                                Detale
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Visit at <%= moment(Date.now()).format('Do MMMM, YYYY') %></div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website <%= moment(Date.now()).format('YYYY') %></span>
            </div>
        </div>
    </footer>

</div>

<%- include('../footer'); %>
