<%- include('../header'); %>
<%- include('../sidebar'); %>

<div id="content-wrapper">

	<div class="container-fluid">

		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Detail</li>
		</ol>
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Role
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<tbody>
						<tr>
							<th>Nazwa roli:</th>
							<td>
								<%= role[0].name %>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
				<div class="btn-group mr-2" role="group" aria-label="First group">
					<a href="/admin/role" class="btn btn-sm btn-primary">Powrót</a>
				</div>
			</div>
			<div class="card-footer small text-muted">Updated
				at <%= moment(role.updatedAt).format('Do MMMM, YYYY') %></div>
		</div>
	</div>
</div>

<%- include('../footer'); %>
