<%- include('../header'); %>
<%- include('../sidebar'); %>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add new user</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Dodaj użytkownika
            </div>
            <div class="card-body">
                <% if (message) { %>
                    <div class="card border-danger mb-3">
                        <div class="card-body text-danger">
                            <p>
                                <%= message %>
                            </p>
                        </div>
                    </div>
                <% } %>
                <form method="post" action="/admin">
                    <%- include('./select_role'); %>
                    <%- include('./form'); %>

                    <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
                </form>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <a class="d-block small mt-3" href="/admin">Powróć</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->

<%- include('../footer'); %>
