<div class="form-group">
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-label-group">
                <input type="text" id="firstName" class="form-control" placeholder="Imię"  name="firstName" required="required" autofocus="autofocus">
                <label for="firstName">Imię</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-label-group">
                <input type="text" id="lastName" class="form-control" placeholder="Nazwisko" name="lastName" required="required">
                <label for="lastName">Nazwisko</label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required="required">
        <label for="inputEmail">Email</label>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Hasło" required="required">
                <label for="inputPassword">Hasło</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-label-group">
                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="Potwierdż Hasło" required="required">
                <label for="confirmPassword">Potwierdż Hasło</label>
            </div>
        </div>
    </div>
</div>
