<div class="form-group">
    <label for="selectRole">Role</label>
    <div class="form-label-group">
        <select class="form-select" id="selectRole" aria-label="Choose role" name="role" multiple>
            <option selected>Wybierz role</option>
            <% roles.forEach(role => { %>
                <option value="<%= role.id %>"><%= role.name %></option>
            <% }); %>
        </select>
    </div>
</div>
