<%- include('../header'); %>
<%- include('../sidebar'); %>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Detail</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Użytkownik
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>User ID:</td>
                            <td>
                                <%= user.id %>
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>
                                <%= user.email %>
                            </td>
                        </tr>
                        <tr>
                            <td>First name:</td>
                            <td>
                                <%= user.firstName %>
                            </td>
                        </tr>
                        <tr>
                            <td>Last name:</td>
                            <td>
                                <%= user.lastName %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Roles:
                            </td>
                            <td>
                                <%= JSON.stringify(user._roles) %>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="/admin" class="btn btn-sm btn-primary">Powrót</a>

                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a href="/admin/user/<%= user.id %>/edit" class="btn btn-sm btn-success">
                        Edycja
                    </a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Third group">
                    <form method="post" action="/admin/user/<%= user.id %>/delete">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Usuń
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-footer small text-muted">
                Updated at <%= moment(user.updatedAt).format('Do MMMM, YYYY') %>
            </div>
        </div>
    </div>
</div>


<%- include('../footer'); %>
