<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>

<%# powyższy kod jest footerem dla naszej aplikacji tj. tylko raz dodajemy pliki JS i nie kopiujemy ich wielokrotnie  %>
