<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starter Node JS Express JS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Node.js</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if (typeof isLogged !== 'undefined' && isLogged === true) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Wylogowanie</a>
                </li>
            <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Logowanie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Rejestracja</a>
                    </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <%# plik ten jest headerem, tj używamy go celem dostarczenia plików css, nie musimy kopiować wielokrotnie tego kodu bo includujemy go w pozostałych plikach %>
