<%- include('header'); %>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Login/Register Success</h1>
    </div>
</div>

<%- include('footer'); %>
