<%- include('header'); %>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Starter Node JS Express</h1>
        <p class="col-md-8 fs-4">Using a series of utilities.</p>
    </div>
</div>

<%- include('footer'); %>
