<%- include('../header'); %>

<div class="card mt-1">
    <div class="card-body">

        <% if (message) { %>
            <div class="card border-danger mb-3">
                <div class="card-body text-danger">
                    <h5>
                        <%= message %>
                    </h5>

                </div>
            </div>
        <% } %>

        <h3>Zmień hasło <%= data.email  %>:</h3>

        <form method="post" action="/login/new/password">
            <input type="hidden" name="email" value="<%= data.email %>">
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Potwierdż Hasło</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
            <a class="btn btn-success" href="/login">Logowanie</a>
            <button class="btn btn-success">Zmień hasło</button>

        </form>

    </div>
</div>

<%- include('../footer'); %>
