<%- include('../header'); %>

<%# tworzę tu formularz w htmlu celem przesłania na adres /product metodą post, ważne są name gdyż po nich identyfikuję wartości %>
<% if (message) { %>
    <div class="card border-danger mb-3">
        <div class="card-body text-danger">
            <p>
                <%= message %>
            </p>
        </div>
    </div>
<% } %>
<form method="post" action="/">
    <%- include('../admin/user/form'); %>

    <button class="btn btn-success mt-1" type="submit">Wyślij</button>
    <a href="/" class="btn btn-primary mt-1">< Powrót</a>
</form>

<%- include('../footer'); %>
