<%- include('../header'); %>

<div class="card mt-1">
    <div class="card-body">

        <% if (typeof logout !== 'undefined') { %>
            <div class="card border-success mb-3">
                <div class="card-body text-success">

                    <h3>
                        Pomyślnie wylogowano się!
                    </h3>

                </div>
            </div>
        <% } %>

        <% if (typeof code !== 'undefined' && typeof message !== 'undefined') { %>
            <div class="card border-danger mb-3">
                <div class="card-body text-danger">
                    <h5>
                        <%= typeof message !== 'undefined' ? message : '' %>
                    </h5>

                </div>
            </div>
        <% } %>

        <h3>Zaloguj się:</h3>

        <form method="post" action="/login/set">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <a class="btn btn-info" href="/reset">Przypomnij hasło</a>
            <button class="btn btn-success">Logowanie</button>

        </form>

    </div>
</div>

<%- include('../footer'); %>
