<%- include('../header'); %>

<div class="card mt-1">
    <div class="card-body">
        <% if (typeof logout !== 'undefined') { %>
            <div class="card border-success mb-3">
                <div class="card-body text-success">
                    <h3>
                        Pomyślnie wylogowano się!
                    </h3>
                </div>
            </div>
        <% } %>
            <% if (message) { %>
            <div class="card border-danger mb-3">
                <div class="card-body text-danger">
                    <h5>
                        <%= message %>
                    </h5>
                </div>
            </div>
        <% } %>
        <h3>Reset hasła:</h3>
        <form method="post" action="/login/reset">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <button class="btn btn-success">Zmień hasło</button>
        </form>
    </div>
</div>

<%- include('../footer'); %>
